<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SistemaRestaurante"
        tools:targetApi="31"> <!-- Adicione tools:targetApi="31" se estiver usando API 31+ -->

        <!-- MainActivity - A tela inicial do seu app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- MenuActivity (Cardápio) -->
        <activity
            android:name=".MenuActivity"
            android:exported="false" />

        <!-- CartActivity (Carrinho) -->
        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <!-- EmployeeDashboardActivity (Painel do Funcionário) -->
        <activity
            android:name=".EmployeeDashboardActivity"
            android:exported="false" />

        <!-- AdminActivity (Gerenciamento de Pratos) -->
        <activity
            android:name=".AdminActivity"
            android:exported="false" />

        <!-- Adicione aqui outras Activities que você criar, como OrderHistoryActivity, DishDetailActivity, etc. -->

    </application>

</manifest>